# Prerequisites
*.d

# User-specific files
*.suo
*.user
*.sln.docstates

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual Studio 2015/2017 cache/options directory
.vs/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Latex stuff:
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## for now pdf:
*.pdf

##in the latexPlots area:
LatexPlots/*.dat
LatexPlots/*.script
LatexPlots/*.table
LatexPlots/*.cmd
LatexPlots/Data/Old
LatexPlots/Data

#debug and compied folder:
Debug/
Release/

#models and textures:
textures/
models/
#ignore all analysis files but keep analysis python script
Analysis/*
!Analysis/DataManager.py
!Analysis/DataManagerRework.py


#ignore all ispc build results (also the build header)
src/ISPC/ISPCBuild